POSTGRES_DB=mini_idp
POSTGRES_USER=mini_idp_user
POSTGRES_PASSWORD=CAMBIAR_PASSWORD_POSTGRES

APP_ISSUER=https://miniidp-idp.duckdns.org
CLIENT_BASE_URL=https://miniidp-app.duckdns.org

APP_ENCRYPTION_SECRET=CAMBIAR_CLAVE_LARGA_FIJA_DE_32_O_MAS_CARACTERES
APP_JWT_AUDIENCE=client-app
APP_JWT_ACCESS_TOKEN_MINUTES=15

APP_OAUTH_CLIENT_ID=client-app
APP_OAUTH_CLIENT_SECRET=CAMBIAR_CLIENT_SECRET_FUERTE
APP_OAUTH_CLIENT_NAME=Client App
APP_OAUTH_REDIRECT_URI=https://miniidp-app.duckdns.org/callback
APP_OAUTH_ALLOWED_SCOPES=openid profile email

APP_TOTP_ISSUER=Mini IdP

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=TU_CORREO
SMTP_PASSWORD=TU_PASSWORD_APP_GMAIL
SMTP_AUTH=true
SMTP_STARTTLS=true
APP_MAIL_FROM=TU_CORREO

IDP_ISSUER=https://miniidp-idp.duckdns.org
IDP_JWKS_URI=https://miniidp-idp.duckdns.org/.well-known/jwks.json
IDP_AUDIENCE=client-app
IDP_AUTHORIZATION_URI=https://miniidp-idp.duckdns.org/oauth/authorize
IDP_TOKEN_URI=https://miniidp-idp.duckdns.org/oauth/token

OAUTH_CLIENT_ID=client-app
OAUTH_CLIENT_SECRET=CAMBIAR_CLIENT_SECRET_FUERTE
OAUTH_REDIRECT_URI=https://miniidp-app.duckdns.org/callback
OAUTH_SCOPE=openid profile email